/* General Styles */
body {
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  color: #9e9ea4;
  font-family: 'Montserrat', sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
  font-size: 35px;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    'sidebar header'
    'sidebar main';
  height: 100vh;
  transition: all 0.5s;
}

.grid-container.expanded {
  grid-template-columns: 0 1fr;
}

/* ---------- HEADER ---------- */
.header {
  grid-area: header;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: #263043;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: inline;
  color: #fff;
  cursor: pointer;
}

/* ---------- SIDEBAR ---------- */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #263043;
  overflow-y: auto;
  transition: transform 0.5s, width 0.5s;
  z-index: 12;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: inline;
  cursor: pointer;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px;
  font-size: 18px;
  color: #9e9ea4;
  transition: background-color 0.3s ease;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item a {
  text-decoration: none;
  color: inherit;
}

.sidebar-responsive {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(0);
}

.sidebar-hidden {
  transform: translateX(-100%);
}

/* ---------- MAIN ---------- */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.main-title input[type="file"] {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.main-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  background-color: #263043;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h3, .card h1 {
  margin: 0;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner .material-icons-outlined {
  font-size: 45px;
}

/* Card Colors */
.card:nth-child(1) {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
}

/* Charts */
.charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.charts-card {
  background-color: #263043;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  height: 400px; /* Ensure this height is fixed for consistency */
  display: flex; /* Use flexbox to align items */
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

.chart-title {
  margin: 0 0 10px; /* Add some margin below the title */
  font-size: 18px;
  text-align: center;
}

/* Pie and Doughnut Chart Sizes */
#pie-chart, #department-chart {
  width: 80%; /* Adjust as needed */
  height: 80%; /* Adjust as needed */
}

/* Map */
#map {
  width: 100%; /* Full width */
  height: calc(100% - 25px); /* Adjust height to fit within the container */
  border-radius: 8px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Prevent overflow */
  position: relative; /* Ensure proper positioning */
}

/* ---------- MEDIA QUERIES ---------- */
/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas:
      'header'
      'main';
  }

  .sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }

  .sidebar-hidden {
    display: none;
  }
}

/* Add this CSS rule to control the height of the bar chart */
#bar-chart {
  height: 250px; /* Adjust this value as needed */
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .charts {
    grid-template-columns: 1fr;
  }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}
